<div class="box53">
朝
おはようございます！
</div>


	
<div class="bg_pattern Lines_v4"></div>

<header class="header-1">
  <div class="header-inner">
    <img class="logo-img" src="https://see-ss.com/img/logo@2x.png" />
  </div>
</header>

<a href="#!" class="button-7">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 576 512"
    class="home-icon"