// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.color{
    color: rgb(253, 255, 254);
    background-color: rgb(160, 204, 228);
}
#link-first-block {
    background-image: url("sora.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    display: flex;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}